@import '/src/vars.scss';

.Container {
  position: relative;
  z-index: 1;

  width: 100vw;
  min-height: 100vh;

  padding: 7vh 10vw 5vh;
  margin: 0 auto;

  @include portrait-orientation($bmob-r) {
    width: 100%;
    padding: 91px 30px 81px;
  }

  @include adpt-max($bmob-r) {
    padding: 91px 0 81px 0;
    margin: 0;
  }
}
