@import '/src/vars.scss';

.LeaderBoard {
  position: relative;
  z-index: 0;

  width: 100%;
  height: 17vw;
  padding: 1.9vw 2.5vw 1.6vw 2.4vw;

  background-color: var(--secondary);
  border-radius: var(--border-radius-panel);

  @include portrait-orientation($mtab-r) {
    height: auto;
    padding: 43px 24px 20px;

    border-radius: var(--border-radius-panel-mob);

    &__title {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -83px;
        left: -28%;

        display: block;
        width: 241px;
        height: 229px;

        background-image: url('/src/assets/img/layouts/coin_low.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -3vw;
    right: 34%;

    display: block;
    width: 10.8vw;
    height: 9vw;

    background-image: url('/src/assets/img/layouts/coin_mid.png');
    background-repeat: no-repeat;
    background-position: -3.4vw -4vw;
    background-size: 17vw 15vw;

    @include portrait-orientation($mtab-r) {
      content: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -2vw;
    right: -8%;

    display: block;
    width: 8.8vw;
    height: 7vw;

    background-image: url('/src/assets/img/layouts/coin_low.png');
    background-repeat: no-repeat;
    background-position: -2vw -2vw;
    background-size: 14vw 13vw;

    @include portrait-orientation($mtab-r) {
      content: none;
    }
  }

  &__wrapper {
    width: 100%;
    margin-bottom: 2vw;

    @include portrait-orientation {
      margin-bottom: 23px;
    }
  }

  &__search {
    max-width: 37.6%;
    margin-top: 0.3vw;
    margin-bottom: 0.7vw;

    @include portrait-orientation($mtab-r) {
      max-width: none;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &__noOwners {
    width: 100%;
    margin: 2vw auto;

    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--primary);

    @include portrait-orientation {
      font-size: 18px;
    }
  }
}

