@import '/src/vars.scss';

.LeadersList {
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding-right: 5vw;

    @include portrait-orientation($mtab-r) {
      padding: 0;
    }
  }

  &__line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.4vw;

    @include portrait-orientation($mtab-r) {
      margin-bottom: 6px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__lineItem {
    padding: 0.34vw 0;

    border-radius: var(--border-radius-search);

    color: var(--white);
    font-weight: 600;
    text-align: center;

    @include portrait-orientation($mtab-r) {
      padding: 6px 0;

      border-radius: var(--border-radius-search-mob);
    }
  }

  &__headerItem {
    margin-bottom: -0.2vw;
    padding: 0.18vw;

    color: var(--white);
    font-weight: 600;
    text-align: center !important;

    @include portrait-orientation($mtab-r) {
      margin-bottom: 7px;
      padding: 0;

      font-size: 16px;
    }
  }

  &__leader {
    background-color: var(--secondary-light);

    font-size: 0.6vw;
    color: var(--primary);

    @include portrait-orientation($mtab-r) {
      font-size: 11px;
    }
  }

  &__adress {
    width: 65%;
    padding-left: 2.2vw;
    overflow: hidden;

    text-align: left;

    &.LeadersList__headerItem {
      padding: 0.18vw;
    }

    @include portrait-orientation($mtab-r) {
      width: 53.6%;
      padding-left: 25px;
      padding-right: 25px;

      text-overflow: ellipsis;
    }

    @include adpt-max($smob-r) {
      padding-left: 15px;
    }

    @include adpt-max($xsmob-r) {
      padding-left: 5px;
    }
  }

  &__points {
    width: 13%;

    @include portrait-orientation($mtab-r) {
      width: 14%;
    }
  }

  &__reward {
    width: 20%;

    @include portrait-orientation($mtab-r) {
      width: 30%;
    }
  }

  &__highlight {
    box-shadow: 0 0 30px var(--primary);
    background-color: var(--primary);
    color: var(--white);
  }
}

