@import '/src/vars.scss';

.Search {
  width: 100%;
  padding: 0.6vw 1vw 0.6vw 3vw;

  border-radius: var(--border-radius-search);
  background-color: var(--search);

  &__wrapper {
    position: relative;
    z-index: 0;

    min-width: 35.7%;
    margin-right: 2.8vw;
  }

  &__loupe {
    position: absolute;
    z-index: 1;
    left: 1.1vw;
    top: 0.5vw;

    width: 1.1vw;
    height: 1.1vw;

    background-image: url('/src/assets/img/search_icon.svg');
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
  }

  &__clear {
    position: absolute;
    z-index: 1;
    right: 1vw;
    top: 0.5vw;

    width: 1.3vw;
    height: 1.3vw;

    background-image: url('/src/assets/img/tag_cross.svg');
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
  }

  &__hiddenLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    opacity: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @include portrait-orientation($mtab-r) {
    padding: 15px 60px;

    border-radius: var(--border-radius-search-mob);

    font-size: 22px;

    &__wrapper {
      width: 100%;
      margin-right: 0;
    }

    &__loupe {
      left: 24px;
      top: 25%;
      width: 25px;
      height: 25px;
    }

    &__clear {
      right: 23px;
      top: 24%;
      width: 30px;
      height: 27px;
    }
  }
}

