@import '/src/vars.scss';

.Token {
  position: relative;
  width: 2.55vw;
  height: 3vw;
  min-width: 44px;
  min-height: 52px;

  margin-right: 0.23vw;
  margin-bottom: 19px;

  background-image: url('/src/assets/img/token__placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: attr(data-count);
    position: absolute;
    bottom: -1.1vw;

    display: block;
    width: 100%;

    text-align: center;
    font-weight: 600;
    color: var(--white);
  }

  &:last-child {
    margin-right: 0;
  }

  @include portrait-orientation($mtab-r) {
    margin-right: 4px;
    margin-bottom: 37px;

    &::after {
      bottom: -31px;

      font-size: 25px;
    }
  }

  &__Common {
    &_1 {
      background-image: url('/src/assets/img/tokens/common_1.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_2 {
      background-image: url('/src/assets/img/tokens/common_2.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_3 {
      background-image: url('/src/assets/img/tokens/common_3.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_4 {
      background-image: url('/src/assets/img/tokens/common_4.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_5 {
      background-image: url('/src/assets/img/tokens/common_5.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_6 {
      background-image: url('/src/assets/img/tokens/common_6.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_7 {
      background-image: url('/src/assets/img/tokens/common_7.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_8 {
      background-image: url('/src/assets/img/tokens/common_8.png'), url('/src/assets/img/token__placeholder.png');
    }
  }

  &__Special {
    &_1 {
      background-image: url('/src/assets/img/tokens/special_1.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_2 {
      background-image: url('/src/assets/img/tokens/special_2.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_3 {
      background-image: url('/src/assets/img/tokens/special_3.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_4 {
      background-image: url('/src/assets/img/tokens/special_4.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_5 {
      background-image: url('/src/assets/img/tokens/special_5.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_6 {
      background-image: url('/src/assets/img/tokens/special_6.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_7 {
      background-image: url('/src/assets/img/tokens/special_7.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_8 {
      background-image: url('/src/assets/img/tokens/special_8.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_9 {
      background-image: url('/src/assets/img/tokens/special_9.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_10 {
      background-image: url('/src/assets/img/tokens/special_10.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_11 {
      background-image: url('/src/assets/img/tokens/special_11.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_12 {
      background-image: url('/src/assets/img/tokens/special_12.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_13 {
      background-image: url('/src/assets/img/tokens/special_13.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_14 {
      background-image: url('/src/assets/img/tokens/special_14.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_15 {
      background-image: url('/src/assets/img/tokens/special_15.png'), url('/src/assets/img/token__placeholder.png');
    }
  }

  &__Rare {
    &_1 {
      background-image: url('/src/assets/img/tokens/rare_1.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_2 {
      background-image: url('/src/assets/img/tokens/rare_2.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_3 {
      background-image: url('/src/assets/img/tokens/rare_3.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_4 {
      background-image: url('/src/assets/img/tokens/rare_4.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_5 {
      background-image: url('/src/assets/img/tokens/rare_5.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_6 {
      background-image: url('/src/assets/img/tokens/rare_6.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_7 {
      background-image: url('/src/assets/img/tokens/rare_7.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_8 {
      background-image: url('/src/assets/img/tokens/rare_8.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_9 {
      background-image: url('/src/assets/img/tokens/rare_9.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_10 {
      background-image: url('/src/assets/img/tokens/rare_10.png'), url('/src/assets/img/token__placeholder.png');
    }
  }

  &__Unique {
    &_1 {
      background-image: url('/src/assets/img/tokens/unique_1.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_2 {
      background-image: url('/src/assets/img/tokens/unique_2.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_3 {
      background-image: url('/src/assets/img/tokens/unique_3.png'), url('/src/assets/img/token__placeholder.png');
    }
    &_4 {
      background-image: url('/src/assets/img/tokens/unique_4.png'), url('/src/assets/img/token__placeholder.png');
    }
  }

  &__Legendary {
    &_1 {
      background-image: url('/src/assets/img/tokens/legendary_1.png'), url('/src/assets/img/token__placeholder.png');
    }
  }
}

