@import '/src/vars.scss';

.Token {
  position: relative;
  width: 2.55vw;
  height: 3vw;
  min-width: 44px;
  min-height: 52px;

  margin-right: 0.2vw;
  margin-bottom: 1.1vw;

  background-image: url('/src/assets/img/token__placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: attr(data-count);
    position: absolute;
    bottom: -1.1vw;

    display: block;
    width: 100%;

    text-align: center;
    font-weight: 600;
    color: var(--white);
  }

  &:last-child {
    margin-right: 0;
  }

  @include portrait-orientation($mtab-r) {
    margin-right: 4px;
    margin-bottom: 37px;

    &::after {
      bottom: -30px;

      font-size: 18px;
    }
  }

  &__Common {
    @for $i from 1 through 8 {
      &_#{$i} {
        background-image: url('/src/assets/img/tokens/common_#{$i}.png'), url('/src/assets/img/token__placeholder.png');
      }
    }
  }

  &__Special {
    @for $i from 1 through 15 {
      &_#{$i} {
        background-image: url('/src/assets/img/tokens/special_#{$i}.png'), url('/src/assets/img/token__placeholder.png');
      }
    }
  }

  &__Rare {
    @for $i from 1 through 10 {
      &_#{$i} {
        background-image: url('/src/assets/img/tokens/rare_#{$i}.png'), url('/src/assets/img/token__placeholder.png');
      }
    }
  }

  &__Unique {
    @for $i from 1 through 4 {
      &_#{$i} {
        background-image: url('/src/assets/img/tokens/unique_#{$i}.png'), url('/src/assets/img/token__placeholder.png');
      }
    }
  }

  &__Legendary {
    &_1 {
      background-image: url('/src/assets/img/tokens/legendary_1.png'), url('/src/assets/img/token__placeholder.png');
    }
  }
}

