@import '/src/vars.scss';

.TokensPanel {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 1.95vw 1vw 0 2.4vw;

  background-color: var(--primary);
  border-radius: var(--border-radius-panel);

  @include portrait-orientation($mtab-r) {
    padding: 43px 24px 25px;

    border-radius: var(--border-radius-panel-mob);
  }

  &__coin {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 4.8vw;
      height: 5vw;

      position: absolute;
      top: -2.4vw;
      right: 5.7%;

      background-image: url('/src/assets/img/layouts/coin_high.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include portrait-orientation {
      &::after {
        width: 77.1px;
        height: 77.1px;

        top: auto;
        right: auto;
        bottom: -11vw;
        left: 18%;

        transform: rotate(55deg);
      }
    }
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;

    position: relative;
    z-index: 2;
  }

  &__search {
    margin-bottom: 2vw;

    @include portrait-orientation {
      margin-bottom: 53px;
    }
  }
}

