@use 'sass:math';

:root {
  --white: #fff;
  --dark: rgba(31, 28, 89, 1);

  --primary: rgba(140, 85, 255, 1);

  --secondary: rgba(200, 175, 253, 1);
  --secondary-light: rgba(212, 191, 255, 1);

  --button: rgba(77, 255, 153, 1);
  --button-hover: rgb(112 255 173);

  --search: rgba(230, 218, 255, 1);

  --highlight: rgba(255, 55, 107, 1);

  --description: rgba(145, 122, 195, 1);

  --score-common: rgba(255, 213, 0, 1);
  --score-special: rgba(128, 205, 255, 1);
  --score-rare: rgba(196, 255, 0, 1);
  --score-unique: rgba(255, 134, 134, 1);
  --score-legendary: rgba(77, 255, 153, 1);

  --border-radius-huge: 100px;

  --border-radius-panel: 2vw;
  --border-radius-panel-mob: 41px;

  --border-radius-search: 2vw;
  --border-radius-search-mob: 29px;

  --border-radius-total-pts: 1vw;
  --border-radius-total-pts-mob: 21px;

  --font-primary: 'Montserrat';
  --font-secondary: 'Rammetto One';

  --duration: 0.3s;
}

$primary: rgba(140, 85, 255, 1);
$white: #fff;
$border-radius-huge: 100px;

$left-block-width: 861;

$big-xxl: 1728;
$big-r: 1451;

$desm-r: 1383;

$desm-m: 1179;
$desmm-r: 1179;
$tab-r: 1100;
$mtab-r: 992;
$smtab-r: 840;
$stab-r: 768;
$xstab-r: 660;
$bmob-r: 576;
$mmob-r: 500;
$smob-r: 400;
$xsmob-r: 380;

$multi-common: 'x1.5';
$multi-special: 'x2';
$multi-rare: 'x3';

$multi-common-color: #fcd53f;
$multi-special-color: #0074ba;
$multi-rare-color: #00d26a;

$orientation-portrait: 'portrait';
$orientation-landscape: 'landscape';

@mixin adpt-min($width) {
  @media (min-width: #{$width}px) {
    @content;
  }
}

@mixin adpt-max($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}

@mixin portrait-orientation($width: $mtab-r) {
  @media (max-width: #{$width}px), (max-aspect-ratio: 1 / 0.9) {
    @content;
  }
}

@mixin scrollbar($size: 0.6vw, $foreground-color: $primary, $background-color: $white, $border-radius: $border-radius-huge) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    border-radius: $border-radius;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $border-radius;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: $border-radius;
  }

  scrollbar-width: thin;
  scrollbar-color: $foreground-color $background-color;
}

@function switch-multi-pos($multi, $orientation: $orientation-landscape) {
  $left: 44px;
  @if $orientation == $orientation-portrait {
    $left: 72px;
    @if $multi == $multi-special {
      $left: 56px;
    } @else if $multi == $multi-rare {
      $left: 35px;
    }
  } @else {
    $left: 183%;
    @if $multi == $multi-special {
      $left: 140%;
    } @else if $multi == $multi-rare {
      $left: 89%;
    }
  }
  @return $left;
}

@mixin token-highlight($color: $multi-common-color) {
  box-shadow: 0px 0px 18px $color, inset 0px 0px 20px $color;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 13px $color);
}

@mixin token-multi($multi: $multi-common, $color: $multi-common-color) {
  &::before {
    content: $multi;
    width: max-content;

    position: absolute;
    bottom: -2.4vw;

    left: switch-multi-pos($multi);

    @include token-highlight($color);

    color: var(--white);
    font-size: 1vw;

    @include portrait-orientation {
      bottom: -111%;
      left: switch-multi-pos($multi, $orientation-portrait);
      font-size: 25px;
    }
  }
}

@mixin spinnerPseudo {
  content: '';
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}
