@import '/src/vars.scss';

.TokensList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include portrait-orientation($mtab-r) {
    margin-right: -11px;
  }

  &__wrapper {
    position: relative;
    top: -0.7vw;

    &.Common {
      margin-top: 0;
    }

    &.Rare {
      margin-top: 0.4vw;
      margin-right: 1.3vw;
    }

    &.Unique {
      margin-top: 0.4vw;
      margin-right: 1vw;
    }

    &.Legendary {
      min-width: 83px;
      margin-top: 0.5vw;
    }

    @include portrait-orientation($mtab-r) {
      width: 100%;

      margin-top: 8.5px;

      &.Rare {
        margin-top: 12.5px;
      }

      &.Legendary {
        margin-top: 17.1px;
      }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 0.4vw;

    font-weight: 600;
    color: var(--white);

    @include portrait-orientation($mtab-r) {
      margin-bottom: 6px;
      font-size: 26px;
    }
  }

  &__countPts {
    font-size: 1.1vw;
    font-weight: 800;

    &.Common {
      color: var(--score-common);
    }

    &.Special {
      color: var(--score-special);
    }

    &.Rare {
      color: var(--score-rare);
    }

    &.Unique {
      color: var(--score-unique);
    }

    &.Legendary {
      position: absolute;
      right: 4%;
      top: 2vw;

      max-width: 1.7vw;

      color: var(--score-legendary);
      line-height: 1vw;
    }

    @include portrait-orientation($mtab-r) {
      margin-left: 1vw;
      font-size: 30px;

      &.Legendary {
        top: auto;
        right: auto;
        left: 47px;
        bottom: -80%;

        max-width: 98px;
      }
    }
  }
}

